html, body {}

canvas {
    background-color: white;
    border: 1px solid grey;
}

.container {
    margin: 0 auto;
    width: 99%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 90% 1fr;
}

.container>div {
    border: 1px solid grey;
    background-color: F6F8FA;
}

.graph-container {
    height: 100%;
}

.info-container {
    
}

.control-container {
    grid-column: 1 / 3;
    height: 100%;
}

.content-menu {
    width: 30%;
    padding: 3px;
    display: inline-block;
    height: 90%;
}

.info {
    background-color: white;
    border: 1px solid grey;
    height: 77%;
    margin: 15px;
}